<h3>Game Messages:</h3>
<div style="height: 400px; overflow-y:scroll;">
	@foreach (MessageBox box in MessageBoxes)
	{
		<h5>@box.Title</h5>
		<ul>
		@foreach (string msg in box.Messages)
		{
			<li>
			@msg
			</li>
		}
		</ul>
		<br />
	}
</div>

@code{
	[Parameter]
	public IEnumerable<MessageBox> MessageBoxes { get; set; } = new List<MessageBox>();
}